{% extends 'basic.html' %}
{% block title %}
Admin Log in
{% endblock %}

{% block css%}
<style>
    .section {
        min-height: 47vh;
    }

    .register-left p {
        padding: 20px 20px 0;
    }

    .register-right {
        border: 1px solid #fd2f0a;
        background: #fff;
        border-radius: 4%;
        padding: 50px;
    }

    .register-form {
        padding: 30px;
    }

    .input {
        background: transparent;
        border-color: transparent;
        border-bottom: 2px solid #ccc;
        border-radius: 0;
        transition: all .7s;
    }

    .input:focus {
        background: transparent;
        border-color: transparent;
        box-shadow: none;
        color: #000;
        border-bottom: 2px solid #fd2f0a;
    }

    .label {
        color: #575757;
        display: block;
        font-size: 16px;
    }

    .checkbox-label {
        font-size: 14px;
    }

    .buttons {
        width: 120px;
        height: 50px;
        border: none;
        font-size: 13px;
        letter-spacing: 1px;
        background: #fd2f0a;
        opacity: .8;
        transition: all .5s;
    }

    .btn-danger:hover {
        width: 135px;
        letter-spacing: 1.2px;
        transform: translateY(-3px);
        opacity: 1;
        background: #fd2f0a;
    }
</style>
{% endblock%}

{% load static %}
{% block body %}
<section class="bg-offwhite p-4 section">
    <div class="row justify-content-center text-center">
        <div class="col">
            <ul class="list-inline text-center text-uppercase font-weight-bold my-3">
                <li class="list-inline-item department-list-item">
                    <a class="text-muted" href="/account_sign">Sign up</a>
                    <span class="mx-md-5 mx-3 text-muted">/</span>
                </li>
                <li class="list-inline-item department-list-item">
                    <a class="text-muted" href="/account_log">Log in</a>
                    <span class="mx-md-5 mx-3 text-muted">/</span>
                </li>
                <li class="list-inline-item department-list-item active-item">
                    admin
                </li>
            </ul>
            <form method="POST">
                {% csrf_token %}
                <div class="container m-5 justify-content-center mx-auto">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-5 text-center my-auto">
                                    <h3 class="primary-color">Admin</h3>
                                    <p class="text-muted">This is only for admin</p>
                                </div>
                                <div class="col-md-7 register-right">
                                    <h3 class="primary-color text-center">Admin Log in</h3>
                                    <form class="contact-form">
                                        <div class="form-group pt-4 py-2 text-left">
                                            <label for="email" class="label">Name</label>
                                            <input name="admin-email" type="text" class="form-control input" name=""
                                                required>
                                        </div>
                                        <div class="form-group py-2 pb-5 text-left">
                                            <label for="password" class="label">Password</label>
                                            <input name="admin-password" type="password" class="form-control input"
                                                name="" required>
                                        </div>
                                        <div class="text-lg-right mt-lg-0 text-md-center">
                                            <button name="admin-submit" type="submit"
                                                class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold p-3">
                                                Log in</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script>
    if (document.URL == 'http://127.0.0.1:8000/account_admin/') {
        $(".log").addClass("nav-active");
    }

    $(document).ready(function () {

        {% if error %}
        alert("Fields cann't be empty!!!");
        {% endif %}

        {% if error_match %}
        // alert("Password doesn't match!!!");
        swal("Error!", "Password doesn't match!!!", "error");
        {% endif %}

    });
</script>
{% endblock %}