{% extends 'basic.html' %}
{% block title %}
Admin Dashboard Student
{% endblock %}

{% block css%}
<style>
    .section {
        min-height: 45vh;
    }

    .box {
        width: 500px;
        /* height: 340px; */
        background-color: #fff;
        box-shadow: 5px 5px 12px rgba(0, 0, 0, .1);
        border-radius: 15px;
        transition: all 0.5s;
    }

    .box:hover {
        transform: translateY(-3px);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .4);
    }

    .buttons {
        width: 180px;
        height: 50px;
        border: none;
        font-size: 13px;
        line-height: 36px;
        letter-spacing: 1.2px;
        background: #fd2f0a;
        cursor: pointer;
        opacity: .8;
        transition: all .5s;
    }

    .btn-danger:hover {
        transform: translateY(-3px);
        width: 195px;
        opacity: 1;
        background: #fd2f0a;
    }
    .info-text {
        font-size: 15px;
    }
</style>
{% endblock%}

{% load static %}
{% block body %}
<section class="bg-offwhite p-4 section">
    <h3 class="text-center">All Students Details</h3>
    <div class="underline m-auto">
    
    </div>
    
    <div class="text-center my-4">
        <a href="/admindashboard" class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold mx-2">
            <i class="fas fa-chevron-left text-white mx-2"></i>Back</a>
        <a href="/registration/null"
            class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold mx-2">
            Add<i class="fas fa-user-plus text-white mx-2"></i></a>
    </div>
    
    {% if noDetails %}
    <div class="container">
        <div class="row justify-content-center align-items-center text-center m-4">
            <div class="col align-items-center">
                <div class="box p-4 mx-auto m-1 mb-5 mx-auto">
                    <h5 class="text-danger">No details are available</h5>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-center align-items-center text-center m-4">
            {% for i in student %}
            <div class="col-lg-6 col-10">
                <div class="box p-4 mx-auto m-2 mb-5">
                    <h6 class="text-danger info-text">Name : <span class="font-weight-bold text-dark">{{i.name}}</span>
                    </h6>
                    <h6 class="text-danger info-text m-2">Father's Name : <span
                            class="font-weight-bold text-dark">{{i.father_name}}</span> </h6>

                    <h6 class="text-danger info-text my-2">Mother's Name : <span
                            class="font-weight-bold text-dark">{{i.mother_name}}</span> </h6>

                    <h6 class="text-danger info-text my-2">Email : <span
                            class="font-weight-bold text-dark">{{i.email}}</span>
                    </h6>

                    <h6 class="text-danger info-text my-2">Gender : <span
                            class="font-weight-bold text-dark">{{i.gender}}</span>
                    </h6>

                    <h6 class="text-danger info-text my-2">Phone Number : <span
                            class="font-weight-bold text-dark">{{i.phone_number}}</span> </h6>

                    <h6 class="text-danger info-text my-2">Address : <span
                            class="font-weight-bold text-dark">{{i.address}}</span>
                    </h6>

                    <h6 class="text-danger info-text my-2">Pincode : <span
                            class="font-weight-bold text-dark">{{i.pincode}}</span>
                    </h6>
                    <div class="text-center mt-4 mb-2">
                        <a href="/admindashboard/students/details/{{i.email}}"
                            class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold mx-2">
                            Edit<i class="fas fa-user-edit text-white mx-1"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}