{% extends 'basic.html' %}
{% block title %}
Admin Dashboard Notice
{% endblock %}

{% block css%}
<style>
    .section {
        min-height: 45vh;
    }

    .notice-box {
        padding: 35px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .box {
        background-color: #fff;
        box-shadow: 5px 5px 12px rgb(199, 199, 199, .8);
        transition: all .4s;
    }

    .box:hover {
        transform: translateY(-3px);
        box-shadow: 5px 5px 15px rgb(129, 129, 129, .5);
    }


    .buttons {
        width: 180px;
        height: 50px;
        border: none;
        font-size: 13px;
        line-height: 29px;
        letter-spacing: 1px;
        background: #fd2f0a;
        cursor: pointer;
        opacity: .8;
        transition: all .5s;
    }

    .btn-danger:hover {
        transform: translateY(-3px);
        width: 195px;
        opacity: 1;
        background: #fd2f0a;
    }

    .notice-font {
        font-size: 17px;
    }
</style>
{% endblock%}

{% load static %}
{% block body %}
<section class="bg-offwhite p-4 section">
    <h3 class="text-center">Manage Notices</h3>
    <div class="underline m-auto">

    </div>

    <div class="text-center my-4">
        <button onclick="window.location.href = '/admindashboard';"
            class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold mt-2 mx-2 decline">
            <i class="fas fa-chevron-left text-white mx-2"></i>Back</button>
        <button onclick="window.location.href = '/admindashboard/notices/addnotice';"
            class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold mt-2 mx-2 decline">
            Add<i class="fas fa-plus text-white mx-2"></i></button>
    </div>

    {% if noDetails %}
    <div class="container my-4">
        <div class="notice-box p-5 m-4 text-center">
            <p class="lead">No notices are available.</p>
        </div>
    </div>
    {% endif %}


    <div class="container">
        {% for i in notice_details reversed %}
        <div class="notice-box m-5">
            <div class="d-flex justify-content-between">
                <h5 class="font-weight-bold">Notice : {{forloop.counter}}</h5>
                <h5 class="notice-font">{{i.date}}</h5>
            </div>
            <hr>
            <p class="text-dark notice-font text-justify">{{i.notice}}</p>
            {% if i.images %}
            <div class="my-4">
                <a href="/media/{{i.images}}" target="_blank">
                    <img class="img-fluid" src="/media/{{i.images}}" onerror="this.style.display='none'">
                </a>
            </div>
            {% endif %}
            {% if i.pdf %}
            <div class="text-center my-1">
                <h6 class="text-dark font-weight-bold">Open related document
                </h6>
                <button onclick="window.open('/media/{{i.pdf}}','_blank')" ;
                    class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold mt-2">
                    Open</button>
            </div>
            {% endif %}
            <div class="text-center mt-3 mb-2">
                <button onclick="window.location.href = '/admindashboard/notices/details/{{i.id}}';"
                    class="buttons btn btn-danger text-uppercase text-center text-white font-weight-bold mt-2 decline">
                    Edit</button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}